
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<hr />
<button class="btn btn-primary" data-toggle="modal" data-target="#myModal" onclick="PopUpForm();">Add New</button>
<hr />

<table id="table" class="table table-responsive">
    <thead>
        <tr>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>

</table>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">X</button>
                <h3 class="modal-title" id="myModalLabel">Role Form</h3>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="Id">Id</label>
                    <input type="text" class="form-control" id="roleId" placeholder="Id" />
                </div>
                <div class="form-group">
                    <label for="Name">Role</label>
                    <input type="text" class="form-control" id="roleName" placeholder="Name" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="Save" onclick="Validate();">Save</button>
                <button type="button" class="btn btn-primary" id="Update" onclick="Validate();">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/Content/font-awesome.min.css">

@section scripts {
    <script src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
    <script>
        $(document).ready(function () {
            debugger;
            table = $("#table").DataTable({
                "ajax": {
                    "url": "/Roles/GetDataRoles",
                    "type": "GET",
                    "dataType": "json"
                },
                "columns": [
                    { "data": "Name" },
                    {
                        "render": function (data, type, row) {
                            return "<a href='#' data-toggle='tooltip' data-placement='left' title='Edit' class='btn btn-warning' onclick=GetById('" + row.Id + "');><i class='fa fa-pencil'></i> Edit</a>|" +
                                "<a href='#' data-toggle='tooltip' data-placement='right' title='Delete' class='btn btn-danger' onclick=Delete('" + row.Id + "');><i class='fa fa-trash'></i> Delete</a > ";
                        }
                    }
                ]
            });
        });

        function Delete(Id) {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: 'red',
                cancelButtonColor: 'green',
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                debugger;
                if (result.value) {
                    $.ajax({
                        "url": "/Roles/Delete/",
                        "datatype": "json",
                        "data": { Id: Id }
                    }).then((result) => {
                        debugger;
                        if (result.data > 0) {
                            Swal.fire('Success', 'Your file has been deleted.', 'success');
                            table.ajax.reload();
                        } else {
                            Swal.fire('Failed', 'Your file not deleted.', 'failed')
                        }
                    })
                }
            })
        }

        function Edit() {
            var role = new Object();
            role.Id = $("#roleId").val();
            role.Name = $("#roleName").val();
            debugger;
            $.ajax({
                "url": "/Roles/Edit/",
                "type": "GET",
                "datatype": "json",
                "data": role
            }).then((result) => {
                debugger;
                if (result.data > 0) {
                    debugger;
                    Swal.fire('Success', 'Your file has been updated.', 'success');
                    table.ajax.reload();
                } else {
                    Swal.fire('Failed', 'Your file not updated.', 'failed')
                }
                $("#myModal").modal('hide');
            })
        }

        function GetById(Id) {
            $.ajax({
                "url": "/Roles/Detail/",
                "type": "GET",
                "dataType": "json",
                "data": { id: Id }
            }).then((result) => {
                if (result.data[0] != null) {
                    document.getElementById("roleId").disabled = true;
                    $("#roleId").val(result.data[0].Id);
                    $("#roleName").val(result.data[0].Name);
                    $("#myModal").modal('show');
                    $("#Update").show();
                    $("#Save").hide();
                }
            });
        }

        function Save() {
            var role = new Object();
            role.Name = $("#roleName").val();
            $.ajax({
                "url": "/Roles/Create",
                "type": "POST",
                "datatype": "json",
                "data": role
            }).then((result) => {
                if (result.data > 0) {
                    Swal.fire('Success', 'Your file has been inserted.', 'success');
                    table.ajax.reload();
                } else {
                    Swal.fire('Failed', 'Your file not inserted.', 'failed')
                }
                $("#myModal").modal('hide');
            })
        }

        function PopUpForm() {
            document.getElementById("roleId").disabled = true;
            $("#roleId").val('');
            $("#roleName").val('');
            $("#Update").hide();
            $('#Save').show();
        }

        function Validate() {
            debugger;
            if ($("#roleName").val() == "" || $("#roleName").val() == " ") {
                Swal.fire('Please Fill Name Role');
            }
            else if ($("#roleId").val() == "" || $("#roleId").val() == " ") {
                Save();
            } else {
                Edit();
            }
        }

    </script>
}